# Machine Learning Pipeline applied to recommender system using GAN based on Amazon review dataset

## Data Acquisition

In [3]:
import pandas as pd
import numpy as np 
import json as js
import gzip

In [4]:

file_path = 'C:/Users/User/OneDrive - Malta College of Arts, Science & Technology/3rd Year/Dissertation/data/'

meta_path = file_path + 'meta_Sports_and_Outdoors.json.gz'
sports_5_path = file_path + 'Sports_and_Outdoors_5.json.gz'
sports_and_Outdoors_path_csv = file_path + 'Sports_and_Outdoors.csv'
sports_and_Outdoors_path = file_path + 'Sports_and_Outdoors.json.gz'

In [5]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield js.loads(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [6]:
meta_df = getDF(meta_path)
meta_df.head(5)

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[3 layers of super-soft polyester tulle can be...,,Adult Tutu Assorted Colors (Turquoise),[],,BubuBibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","712,899 in Clothing, Shoes & Jewelry (","[B071LQWQBQ, B00M14DG0O, B076GTTY9W, B07BSZ4GY...","<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.80,0000032042,[],[],NaN
1,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[3 layers of super-soft polyester tulle can be...,,Bububibi Adult Ballet Tutu Cheetah Pink,[],,BubuBibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","712,899 in Clothing, Shoes & Jewelry (",[],"<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.97,0000032069,[],[],NaN
2,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[3 layers of super-soft polyester tulle can be...,,Girls Ballet Tutu Neon Orange,[B01MYHD3LV],,Unknown,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","[>#924,198 in Toys & Games (See Top 100 in Toy...","[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR...",Toys & Games,,,$5.70,0000031860,[],[],NaN
3,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[TUtu],,Girls Ballet Tutu Zebra Hot Pink,[],,Tutu,[Tutu],"1,314,199 in Sports & Outdoors (",[0000013714],Sports & Outdoors,,,$7.50,0000031852,[],[],NaN
4,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[Dance tutu for girls ages 2-8 years. Perfect ...,,Girls Ballet Tutu Neon Blue,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...",,Bububibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","[>#393,597 in Toys & Games (See Top 100 in Toy...","[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R...",Toys & Games,,,$6.54,0000031895,[],[],NaN

In [8]:
columns_to_drop = ['imageURL', 'imageURLHighRes','fit', 'tech1' ]
meta_df.drop(columns=columns_to_drop)

,category,description,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,details
0,"[Sports & Outdoors, Sports & Fitness, Other Sp...",[3 layers of super-soft polyester tulle can be...,Adult Tutu Assorted Colors (Turquoise),[],,BubuBibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","712,899 in Clothing, Shoes & Jewelry (","[B071LQWQBQ, B00M14DG0O, B076GTTY9W, B07BSZ4GY...","<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.80,0000032042,NaN
1,"[Sports & Outdoors, Sports & Fitness, Other Sp...",[3 layers of super-soft polyester tulle can be...,Bububibi Adult Ballet Tutu Cheetah Pink,[],,BubuBibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","712,899 in Clothing, Shoes & Jewelry (",[],"<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.97,0000032069,NaN
2,"[Sports & Outdoors, Sports & Fitness, Other Sp...",[3 layers of super-soft polyester tulle can be...,Girls Ballet Tutu Neon Orange,[B01MYHD3LV],,Unknown,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","[>#924,198 in Toys & Games (See Top 100 in Toy...","[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR...",Toys & Games,,,$5.70,0000031860,NaN
3,"[Sports & Outdoors, Sports & Fitness, Other Sp...",[TUtu],Girls Ballet Tutu Zebra Hot Pink,[],,Tutu,[Tutu],"1,314,199 in Sports & Outdoors (",[0000013714],Sports & Outdoors,,,$7.50,0000031852,NaN
4,"[Sports & Outdoors, Sports & Fitness, Other Sp...",[Dance tutu for girls ages 2-8 years. Perfect ...,Girls Ballet Tutu Neon Blue,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...",,Bububibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","[>#393,597 in Toys & Games (See Top 100 in Toy...","[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R...",Toys & Games,,,$6.54,0000031895,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962295,"[Sports & Outdoors, Sports & Fitness, Golf, On...",[],Aweoods Inverted Umbrella Windproof Reverse Fo...,[],,eShops ltd,[],"544,488 in Sports & Outdoors (","[B06Y4Z11XM, B07C8GQR5Y, B071JL6JV8, B07C1DPWR...",Sports & Outdoors,,,$49.99,B01HJH3742,"{'Shipping Weight:': '1.2 pounds (', 'ASIN: ':..."
962296,"[Sports & Outdoors, Outdoor Recreation, Campin...",[],JXULE Outdoor Sports Camping Home First Aid Ki...,[],,,[],"1,436,289 in Sports & Outdoors (",[],Sports & Outdoors,,,,B01HJGNPLI,{'ASIN: ': 'B01HJGNPLI'}
962297,"[Sports & Outdoors, Outdoor Recreation, Access...",[],T&amp;s Shell Catcher Beretta A400 Multitarget...,"[B001U9YK8I, B005NH4NQC, B003QYGUME, B007URNR9...",,STS,[],"570,537 in Sports & Outdoors (","[B00VM87O3A, B001U9YK8I, B07GBG321Z, B07CTRPK4...",Sports & Outdoors,,,,B01HJHHBHG,"{'Shipping Weight:': '1 pounds', 'ASIN: ': 'B0..."
962298,"[Sports & Outdoors, Sports & Fitness]",[2XU Women's Fitness Compression Tights],2XU Women's Fitness Compression Tights,"[B01BISC5UA, B00O5XUS6O, B01B2LUO38, B0751MMZ3...",,2XU,"[62% Nylon / 38% Elastane (Invista LYCRA), Mad...","25,733 in Sports & Outdoors (","[B01BISC5UA, B00O5XUS6O, B079P8JG52, B01B2LUO3...",Sports & Outdoors,,,$35.80 - $89.95,B01HJGIZ2W,{' Product Dimensions: ': '3 x 2 x 12...
962299,"[Sports & Outdoors, Sports & Fitness, Clothing...","[At the gym, on the court, in the field or pou...",2XU Men's Core Compression Shorts,"[B01BCM95MS, B00UA88HCA, B01N6Q4O73, B01MS6NKN...",,2XU,"[100% Other Fibers, Imported, BENEFITS: Compre...","68,476 in Sports & Outdoors (","[B01BCM95MS, B01N6Q4O73, B01MS6NKNK, B00UA88HC...",Sports & Outdoors,,,$52.10 - $69.95,B01HJGAJ9O,{' Product Dimensions: ': '11 x 6 x 2...

In [16]:
meta_df.to_csv('meta_data.csv',index=False)

In [23]:
df = pd.read_csv('meta_data.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_27156\690195146.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('meta_data.csv')

In [24]:
df.head(5)

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Adult Tutu Assorted Colors (Turquoise),[],NaN,BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.80,0000032042,[],[],NaN
1,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Bububibi Adult Ballet Tutu Cheetah Pink,[],NaN,BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (",[],"<img src=""https://images-na.ssl-images-amazon....",NaN,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.97,0000032069,[],[],NaN
2,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Girls Ballet Tutu Neon Orange,['B01MYHD3LV'],NaN,Unknown,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","['>#924,198 in Toys & Games (See Top 100 in To...","['B0152HBC52', 'B07C29WWV1', 'B01M0BIP9H', 'B0...",Toys & Games,NaN,NaN,$5.70,0000031860,[],[],NaN
3,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['TUtu'],NaN,Girls Ballet Tutu Zebra Hot Pink,[],NaN,Tutu,['Tutu'],"1,314,199 in Sports & Outdoors (",['0000013714'],Sports & Outdoors,NaN,NaN,$7.50,0000031852,[],[],NaN
4,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['Dance tutu for girls ages 2-8 years. Perfect...,NaN,Girls Ballet Tutu Neon Blue,"['B009THXHPA', 'B00BEU1ZBI', 'B079PYLZTM', 'B0...",NaN,Bububibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","['>#393,597 in Toys & Games (See Top 100 in To...","['B009THXHPA', 'B079PYLZTM', 'B079PQPLT3', 'B0...",Toys & Games,NaN,NaN,$6.54,0000031895,[],[],NaN

In [59]:

row = [row for row in sports_and_outdoors_df['asin'] if row[0] == "0000031895"]
row

[]

In [ ]:
columns_to_drop = ['imageURL', 'imageURLHighRes','fit', 'tech1', 'tech2', 'price' ]
df = df.drop(columns=columns_to_drop)

In [20]:
#This dataset is redundant we do not have to use this since the Sports_and_Outdoors.json.gz is linked with Sports_and_Outdoors.csv
sports_5_df = getDF(sports_5_path)
sports_5_df.head(5)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,vote,image
0,5.0,True,"06 3, 2015",A180LQZBUWVOLF,0000032034,Michelle A,What a spectacular tutu! Very slimming.,Five Stars,1433289600,NaN,NaN,NaN
1,1.0,True,"04 1, 2015",ATMFGKU5SVEYY,0000032034,Crystal R,What the heck? Is this a tutu for nuns? I know...,Is this a tutu for nuns?!,1427846400,NaN,NaN,NaN
2,5.0,True,"01 13, 2015",A1QE70QBJ8U6ZG,0000032034,darla Landreth,Exactly what we were looking for!,Five Stars,1421107200,NaN,NaN,NaN
3,5.0,True,"12 23, 2014",A22CP6Z73MZTYU,0000032034,L. Huynh,I used this skirt for a Halloween costume and ...,I liked that the elastic waist didn't dig in (...,1419292800,NaN,NaN,NaN
4,4.0,True,"12 15, 2014",A22L28G8NRNLLN,0000032034,McKenna,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...,1418601600,NaN,NaN,NaN

In [25]:
#Even this data we do not need this 
sports_df = pd.read_csv(sports_and_Outdoors_path_csv)
sports_df.head(5)

   0000031895  A23K73OVXJ04EG  5.0  1391212800
0  0000031895  A2681T699HV6H1  4.0  1384905600
1  0000031895  A374PA18DCGS5Y  1.0  1477008000
2  0000031895  A14PVW2N5YBWSA  5.0  1476748800
3  0000031895  A2KWBC44QI2567  1.0  1476662400
4  0000031895  A2WGRWA7BDPF7F  5.0  1474156800

In [10]:
sports_and_outdoors_df = getDF(sports_and_Outdoors_path)
sports_and_outdoors_df.head(5)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,False,"02 1, 2014",A23K73OVXJ04EG,0000031895,Lamb612000,It was as described and fit my 6 year old gran...,Neon Blue Tutu,1391212800,NaN,NaN,NaN
1,4.0,True,"11 20, 2013",A2681T699HV6H1,0000031895,Courtney R,very cute and went great with my Halloween cos...,loved it!,1384905600,NaN,NaN,NaN
2,1.0,True,"10 21, 2016",A374PA18DCGS5Y,0000031895,Julie Ortiz,This item is very cheaply made and not full li...,One Star,1477008000,NaN,NaN,NaN
3,5.0,True,"10 18, 2016",A14PVW2N5YBWSA,0000031895,Denise M.,cute,Five Stars,1476748800,NaN,NaN,NaN
4,1.0,True,"10 17, 2016",A2KWBC44QI2567,0000031895,Danielle Zollar,Not as full as the picture suggests and it sme...,Smelly !,1476662400,NaN,NaN,NaN

In [74]:
count = sum(df['asin'] == '0000031895')
print(count)

1

In [73]:
row_ = [row for row in sports_and_outdoors_df['asin'] == '0000031895']
# Counting the number of times '0000031895' appears in the 'asin' column
count = sum(sports_and_outdoors_df['asin'] == '0000031895')
print(count)

32

In [18]:
sports_and_outdoors_df.to_csv('sports_and_Outdoors.csv',index=False)

In [20]:
sports_and_outdoors_df.head(5)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,False,"02 1, 2014",A23K73OVXJ04EG,0000031895,Lamb612000,It was as described and fit my 6 year old gran...,Neon Blue Tutu,1391212800,NaN,NaN,NaN
1,4.0,True,"11 20, 2013",A2681T699HV6H1,0000031895,Courtney R,very cute and went great with my Halloween cos...,loved it!,1384905600,NaN,NaN,NaN
2,1.0,True,"10 21, 2016",A374PA18DCGS5Y,0000031895,Julie Ortiz,This item is very cheaply made and not full li...,One Star,1477008000,NaN,NaN,NaN
3,5.0,True,"10 18, 2016",A14PVW2N5YBWSA,0000031895,Denise M.,cute,Five Stars,1476748800,NaN,NaN,NaN
4,1.0,True,"10 17, 2016",A2KWBC44QI2567,0000031895,Danielle Zollar,Not as full as the picture suggests and it sme...,Smelly !,1476662400,NaN,NaN,NaN

In [30]:
columns_to_drop = ['image', 'unixReviewTime', 'style']
sports_and_outdoors_df = sports_and_outdoors_df.drop(columns=columns_to_drop)

In [13]:
sports_5_df.info()

NameError: name 'sports_5_df' is not defined

In [31]:
sports_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12980836 entries, 0 to 12980835
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   0000031895      object
 1   A23K73OVXJ04EG  object
 2   5.0             float64
 3   1391212800      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 396.1+ MB

## Data Exploration

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962300 entries, 0 to 962299
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      962300 non-null  object
 1   description   962300 non-null  object
 2   title         962284 non-null  object
 3   also_buy      962300 non-null  object
 4   tech2         31 non-null      object
 5   brand         865273 non-null  object
 6   feature       962300 non-null  object
 7   rank          962300 non-null  object
 8   also_view     962300 non-null  object
 9   main_cat      958961 non-null  object
 10  similar_item  22254 non-null   object
 11  date          120450 non-null  object
 12  price         405740 non-null  object
 13  asin          962300 non-null  object
 14  details       962162 non-null  object
dtypes: object(15)
memory usage: 110.1+ MB

In [31]:
sports_and_outdoors_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12980837 entries, 0 to 12980836
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   overall       float64
 1   verified      bool
 2   reviewTime    object
 3   reviewerID    object
 4   asin          object
 5   reviewerName  object
 6   reviewText    object
 7   summary       object
 8   vote          object
dtypes: bool(1), float64(1), object(7)
memory usage: 903.7+ MB

In [32]:
df.describe()

,category,description,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,details
count,962300,962300,962284,962300,31,865273,962300,962300,962300,958961,22254,120450,405740,962300,962162
unique,50895,596047,913754,239234,31,75427,593270,842783,331054,42,22090,61748,62068,957217,790808
top,[],[],Majestic MLB Mens T-Shirt,[],"class=""a-keyvalue prodDetTable"" role=""present...",Majestic,[],[],[],Sports & Outdoors,"class=""a-bordered a-horizontal-stripes a-spa...","<div class=""a-fixed-left-grid a-spacing-none"">...",$9.99,B0002LODEQ,{}
freq,68321,150771,322,696170,1,12148,158207,19604,605315,810640,2,19674,6272,2,156104

In [33]:
sports_and_outdoors_df.describe()

            overall
count  1.298084e+07
mean   4.243398e+00
std    1.240891e+00
min    1.000000e+00
25%    4.000000e+00
50%    5.000000e+00
75%    5.000000e+00
max    5.000000e+00

In [34]:
row = sports_and_outdoors_df[sports_and_outdoors_df['asin'] == "0000032034"]
row.head(2)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,vote
22,3.0,True,"11 3, 2014",A2SB0ZHI3VT3PQ,0000032034,Lillady4110,"Was kind of long but, had to trim it a bit to ...",good,NaN
23,4.0,True,"10 14, 2014",A3AUUWS11N56XA,0000032034,Mandie,The skirt color is exact. The length is fairly...,Color great! Perfect for my costume.,NaN

In [44]:
columns_to_drop = [ 'tech2', 'price','date' ]
df = df.drop(columns=columns_to_drop)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962300 entries, 0 to 962299
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   category      962300 non-null  object
 1   description   962300 non-null  object
 2   title         962284 non-null  object
 3   also_buy      962300 non-null  object
 4   brand         865273 non-null  object
 5   feature       962300 non-null  object
 6   rank          962300 non-null  object
 7   also_view     962300 non-null  object
 8   main_cat      958961 non-null  object
 9   similar_item  22254 non-null   object
 10  asin          962300 non-null  object
 11  details       962162 non-null  object
dtypes: object(12)
memory usage: 88.1+ MB

In [43]:
notnull = df['similar_item'].notnull().sum()
notnull

405740

In [52]:
null_values = df.isnull().sum()
null_values

category             0
description          0
title               16
also_buy             0
brand            97027
feature              0
rank                 0
also_view            0
main_cat          3339
similar_item    940046
asin                 0
details            138
dtype: int64

In [47]:
notnull = sports_and_outdoors_df.isnull().sum()
notnull

overall                0
verified               0
reviewTime             0
reviewerID             0
asin                   0
reviewerName         800
reviewText          9476
summary             3981
vote            11389293
dtype: int64

In [48]:
columns_to_drop = ['vote']
sports_and_outdoors_df = sports_and_outdoors_df.drop(columns=columns_to_drop)

In [49]:
sports_and_outdoors_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12980837 entries, 0 to 12980836
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   overall       float64
 1   verified      bool
 2   reviewTime    object
 3   reviewerID    object
 4   asin          object
 5   reviewerName  object
 6   reviewText    object
 7   summary       object
dtypes: bool(1), float64(1), object(6)
memory usage: 804.7+ MB

In [51]:
sports_and_outdoors_df.dropna()
sports_and_outdoors_df.isnull().sum()

overall            0
verified           0
reviewTime         0
reviewerID         0
asin               0
reviewerName     800
reviewText      9476
summary         3981
dtype: int64

In [75]:
#Merging the 2 datasets 
merge_df = pd.merge(df, sports_and_outdoors_df, how='inner', on='asin')
merge_df

,category,description,title,also_buy,brand,feature,rank,also_view,main_cat,similar_item,asin,details,overall,verified,reviewTime,reviewerID,reviewerName,reviewText,summary
0,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",['3 layers of super-soft polyester tulle can b...,Adult Tutu Assorted Colors (Turquoise),[],BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,0000032042,NaN,5.0,True,"05 2, 2016",AN5DRYRTXRBDW,Rita913,I am at the larger end of the size spectrum (s...,Looks Great
1,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",['3 layers of super-soft polyester tulle can b...,Adult Tutu Assorted Colors (Turquoise),[],BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,0000032042,NaN,5.0,True,"05 2, 2016",A2INZEU0RHYV7B,sabander,Perfect!!,Five Stars
2,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",['3 layers of super-soft polyester tulle can b...,Adult Tutu Assorted Colors (Turquoise),[],BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,0000032042,NaN,5.0,True,"11 30, 2015",A3AJYZEIM88ILH,Stephanie Cook,Great color!,Five Stars
3,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",['3 layers of super-soft polyester tulle can b...,Adult Tutu Assorted Colors (Turquoise),[],BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,0000032042,NaN,3.0,True,"11 16, 2015",A36NU1M3F6ZD7U,Gail Waldrop,"The tutu is nice, but I wish it was longer! T...",Three Stars
4,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",['3 layers of super-soft polyester tulle can b...,Adult Tutu Assorted Colors (Turquoise),[],BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,0000032042,NaN,1.0,True,"12 3, 2014",A38LGHDAXR0MKL,EDRN,Tutu smells like dead fish upon removing from ...,One Star
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13122220,"['Sports & Outdoors', 'Sports & Fitness', 'Clo...","['At the gym, on the court, in the field or po...",2XU Men's Core Compression Shorts,"['B01BCM95MS', 'B00UA88HCA', 'B01N6Q4O73', 'B0...",2XU,"['100% Other Fibers', 'Imported', 'BENEFITS: C...","68,476 in Sports & Outdoors (","['B01BCM95MS', 'B01N6Q4O73', 'B01MS6NKNK', 'B0...",Sports & Outdoors,NaN,B01HJGAJ9O,{'\n Product Dimensions: \n ': '11 x 6 x...,5.0,True,"04 5, 2018",A3TN0U64HONOPB,Lewis Perez,"Love the shorts.. amazing comfortable, perfect...",Five Stars
13122221,"['Sports & Outdoors', 'Sports & Fitness', 'Clo...","['At the gym, on the court, in the field or po...",2XU Men's Core Compression Shorts,"['B01BCM95MS', 'B00UA88HCA', 'B01N6Q4O73', 'B0...",2XU,"['100% Other Fibers', 'Imported', 'BENEFITS: C...","68,476 in Sports & Outdoors (","['B01BCM95MS', 'B01N6Q4O73', 'B01MS6NKNK', 'B0...",Sports & Outdoors,NaN,B01HJGAJ9O,{'\n Product Dimensions: \n ': '11 x 6 x...,5.0,True,"03 8, 2018",A2NKADK4NCMBAU,Pamela J. Wright,Great fit!,Five Stars
13122222,"['Sports & Outdoors', 'Sports & Fitness', 'Clo...","['At the gym, on the court, in the field or po...",2XU Men's Core Compression Shorts,"['B01BCM95MS', 'B00UA88HCA', 'B01N6Q4O73', 'B0...",2XU,"['100% Other Fibers', 'Imported', 'BENEFITS: C...","68,476 in Sports & Outdoors (","['B01BCM95MS', 'B01N6Q4O73', 'B01MS6NKNK', 'B0...",Sports & Outdoors,NaN,B01HJGAJ9O,{'\n Product Dimensions: \n ': '11 x 6 x...,5.0,True,"03 6, 2018",A2JQYT61LXTT7O,Pete Kefalas,Great fit,Five Stars
13122223,"['Sports & Outdoors', 'Sports & Fitness', 'Clo...","['At the gym, on the court, in the field or po...",2XU Men's Core Compression Shorts,"['B01BCM95MS', 'B00UA88HCA', 'B01N6Q4O73', 'B0...",2XU,"['100% Other Fibers', 'Imported', 'BENEFITS: C...","68,476 in Sports & Outdoors (","['B01BCM95MS', 'B01N6Q4O73', 'B01MS6NKNK', 'B0...",Sports & Outdoors,NaN,B01HJGAJ9O,{'\n Product Dimensions: \n ': '11 x 6 x...,4.0,True,"03 2, 2018",AW8TCV9DKSV2K,Maritza,the unit is very good quality and the design l...,nice product
13122224,"['Sports & Outdoors', 'Sports & Fitness', 'Clo...","['At the gym, on the court, in the field or po...",2XU Men's Core Compression Shorts,"['B01BCM95MS', 'B00UA88HCA', 'B01N6Q4O73', 'B0...",2XU,"['100% Other Fibers', 'Imported', 'BENEFITS: C...","68,476 in Sports & Outdoors (","['B01BCM95MS', 'B01N6Q4O73', 'B01MS6NKNK', 'B0...",Sports & Outdoors,NaN,B01HJGAJ9O,{'\n Product Dimensions: \n ': '11 x 6 x...,5.0,True,"03 1, 2018",AJDQLM8PT3YWT,Andrew M. Silverman,Superb quality,Five Stars

In [76]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13122225 entries, 0 to 13122224
Data columns (total 19 columns):
 #   Column        Dtype
---  ------        -----
 0   category      object
 1   description   object
 2   title         object
 3   also_buy      object
 4   brand         object
 5   feature       object
 6   rank          object
 7   also_view     object
 8   main_cat      object
 9   similar_item  object
 10  asin          object
 11  details       object
 12  overall       float64
 13  verified      bool
 14  reviewTime    object
 15  reviewerID    object
 16  reviewerName  object
 17  reviewText    object
 18  summary       object
dtypes: bool(1), float64(1), object(17)
memory usage: 1.8+ GB

In [77]:
isnull = merge_df.isnull().sum()
isnull

category               0
description            0
title               1140
also_buy               0
brand             669805
feature                0
rank                   0
also_view              0
main_cat           17473
similar_item    12273140
asin                   0
details             1088
overall                0
verified               0
reviewTime             0
reviewerID             0
reviewerName         811
reviewText          9546
summary             4000
dtype: int64

In [82]:
merge_df = merge_df.drop(columns='similar_item')

KeyError: "['similar_item'] not found in axis"

In [83]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13122225 entries, 0 to 13122224
Data columns (total 18 columns):
 #   Column        Dtype
---  ------        -----
 0   category      object
 1   description   object
 2   title         object
 3   also_buy      object
 4   brand         object
 5   feature       object
 6   rank          object
 7   also_view     object
 8   main_cat      object
 9   asin          object
 10  details       object
 11  overall       float64
 12  verified      bool
 13  reviewTime    object
 14  reviewerID    object
 15  reviewerName  object
 16  reviewText    object
 17  summary       object
dtypes: bool(1), float64(1), object(16)
memory usage: 1.7+ GB

## Data Visualiation

## Data Cleaning

## Data Transformation

## Data Splitting

## Model Training

## Model Evaluation

## Post-Processing