# Machine Learning Pipeline applied to recommender system using GAN based on Amazon review dataset

## Data Acquisition

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_meta = pd.read_csv('C:/Users/User/OneDrive - Malta College of Arts, Science & Technology/3rd Year/Dissertation/data/meta_data.csv')
df_meta.head(2)

C:\Users\User\AppData\Local\Temp\ipykernel_18620\3413196348.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_meta = pd.read_csv('C:/Users/User/OneDrive - Malta College of Arts, Science & Technology/3rd Year/Dissertation/data/meta_data.csv')

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Adult Tutu Assorted Colors (Turquoise),[],NaN,BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",NaN,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.80,0000032042,[],[],NaN
1,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",NaN,['3 layers of super-soft polyester tulle can b...,NaN,Bububibi Adult Ballet Tutu Cheetah Pink,[],NaN,BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (",[],"<img src=""https://images-na.ssl-images-amazon....",NaN,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.97,0000032069,[],[],NaN

In [3]:
df_sports_and_outdoors = pd.read_csv('C:/Users/User/OneDrive - Malta College of Arts, Science & Technology/3rd Year/Dissertation/data/sports_and_Outdoors.csv')
df_sports_and_outdoors.head(2)

C:\Users\User\AppData\Local\Temp\ipykernel_18620\2256101094.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sports_and_outdoors = pd.read_csv('C:/Users/User/OneDrive - Malta College of Arts, Science & Technology/3rd Year/Dissertation/data/sports_and_Outdoors.csv')

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,False,"02 1, 2014",A23K73OVXJ04EG,0000031895,Lamb612000,It was as described and fit my 6 year old gran...,Neon Blue Tutu,1391212800,NaN,NaN,NaN
1,4.0,True,"11 20, 2013",A2681T699HV6H1,0000031895,Courtney R,very cute and went great with my Halloween cos...,loved it!,1384905600,NaN,NaN,NaN

## Data Exploration

In [4]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962300 entries, 0 to 962299
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   category         962300 non-null  object
 1   tech1            15953 non-null   object
 2   description      962300 non-null  object
 3   fit              41153 non-null   object
 4   title            962284 non-null  object
 5   also_buy         962300 non-null  object
 6   tech2            31 non-null      object
 7   brand            865273 non-null  object
 8   feature          962300 non-null  object
 9   rank             962300 non-null  object
 10  also_view        962300 non-null  object
 11  main_cat         958961 non-null  object
 12  similar_item     22254 non-null   object
 13  date             120450 non-null  object
 14  price            405740 non-null  object
 15  asin             962300 non-null  object
 16  imageURL         962300 non-null  object
 17  imageURLHighRes  962300 non-null  object
 18  details          962162 non-null  object
dtypes: object(19)
memory usage: 139.5+ MB

In [5]:
df_sports_and_outdoors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12980837 entries, 0 to 12980836
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   overall         float64
 1   verified        bool
 2   reviewTime      object
 3   reviewerID      object
 4   asin            object
 5   reviewerName    object
 6   reviewText      object
 7   summary         object
 8   unixReviewTime  int64
 9   vote            object
 10  style           object
 11  image           object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 1.1+ GB

In [6]:
df_meta.describe()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
count,962300,15953,962300,41153,962284,962300,31,865273,962300,962300,962300,958961,22254,120450,405740,962300,962300,962300,962162
unique,50895,15378,596047,14310,913754,239234,31,75427,593270,842783,331054,42,22090,61748,62068,957217,421134,420294,790808
top,[],"class=""a-keyvalue prodDetTable"" role=""present...",[],"class=""a-normal a-align-center a-spacing-smal...",Majestic MLB Mens T-Shirt,[],"class=""a-keyvalue prodDetTable"" role=""present...",Majestic,[],[],[],Sports & Outdoors,"class=""a-bordered a-horizontal-stripes a-spa...","<div class=""a-fixed-left-grid a-spacing-none"">...",$9.99,B0002LODEQ,[],[],{}
freq,68321,19,150771,809,322,696170,1,12148,158207,19604,605315,810640,2,19674,6272,2,485817,485817,156104

In [7]:
null_values = df_meta.isnull().sum()
null_values
#tech1: 946347, fit: 921147, tech2: 962269, similar_item: 940046, date: 841850, price: 556560, brand: 97027, main_cat: 3339,  details: 138

category                0
tech1              946347
description             0
fit                921147
title                  16
also_buy                0
tech2              962269
brand               97027
feature                 0
rank                    0
also_view               0
main_cat             3339
similar_item       940046
date               841850
price              556560
asin                    0
imageURL                0
imageURLHighRes         0
details               138
dtype: int64

In [25]:
# Need to look through this as there is alot of them. The columns which contain [] 
#Category: 68321, also_buy: 696170, feature: 158207, rank: 19604, also_view: 605315
count = df_meta['main_cat'].apply(lambda x: x == "[]").sum()
print("Count of []: ", count)

Count of []:  0

In [8]:
null_values = df_sports_and_outdoors.isnull().sum()
null_values
#reviewerName: 1866, reviewText: 9828, summary: 4155, vote: 11389293, style: 5721517, image: 12695230

overall                  0
verified                 0
reviewTime               0
reviewerID               0
asin                     0
reviewerName          1866
reviewText            9828
summary               4155
unixReviewTime           0
vote              11389293
style              5721517
image             12695230
dtype: int64

## Data Visualiation

## Data Cleaning

In [9]:
columns_to_drop = ['imageURL', 'imageURLHighRes','fit', 'tech1', 'tech2', 'price','tech2', 'price','date','similar_item' ]
df_meta = df_meta.drop(columns=columns_to_drop)

In [10]:
columns_to_drop = ['image', 'unixReviewTime', 'style','vote']
df_sports_and_outdoors = df_sports_and_outdoors.drop(columns=columns_to_drop)

In [54]:
df_sports_and_outdoors.isnull().sum()

overall            0
verified           0
reviewTime         0
reviewerID         0
asin               0
reviewerName    1866
reviewText      9828
summary         4155
dtype: int64

In [55]:
#Merging the 2 datasets 
# merge_df = pd.merge(df_meta, df_sports_and_outdoors, how='inner', on='asin')
# merge_df.head(2)

,category,description,title,also_buy,brand,feature,rank,also_view,main_cat,asin,details,overall,verified,reviewTime,reviewerID,reviewerName,reviewText,summary
0,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",['3 layers of super-soft polyester tulle can b...,Adult Tutu Assorted Colors (Turquoise),[],BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",0000032042,NaN,5.0,True,"05 2, 2016",AN5DRYRTXRBDW,Rita913,I am at the larger end of the size spectrum (s...,Looks Great
1,"['Sports & Outdoors', 'Sports & Fitness', 'Oth...",['3 layers of super-soft polyester tulle can b...,Adult Tutu Assorted Colors (Turquoise),[],BubuBibi,"['3 Layers - 100% Polyester Tulle, Hand Wash L...","712,899 in Clothing, Shoes & Jewelry (","['B071LQWQBQ', 'B00M14DG0O', 'B076GTTY9W', 'B0...","<img src=""https://images-na.ssl-images-amazon....",0000032042,NaN,5.0,True,"05 2, 2016",A2INZEU0RHYV7B,sabander,Perfect!!,Five Stars

## Data Transformation

## Data Splitting

## Model Training

## Model Evaluation

## Post-Processing